## Pair Programming Nulos

In [116]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

### Ejercicios gestión de nulos

In [117]:
data=pd.read_csv("post_leccion05_world.csv")
data.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,longitude,latitude,continent
0,Afghanistan,60.0,AF,58.1,652.23,323.0,32.49,93.0,Kabul,8.67,149.9,2.3,AFN,4.47,2.1,0.7,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.94,67.71,Asia

1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [118]:
#Visualizamos sólo aquellas columnas con nulos, y también qué % representan dichos nulos
#1. Creamos variable para guardar las columnas con nulos
null_count=data.isnull().sum()[data.isnull().sum() > 0]

#2. Creamos variable para guardar el % de nulos
null_percentage=(data[null_count.index].isnull().mean()*100)
null_percentage
#3. Juntamos ambas variables para su visualización
df_null=pd.DataFrame({'Cantidad_nulos':null_count.values, '%_nulos':null_percentage})
df_null

                                      Cantidad_nulos    %_nulos
abbreviation                                       7   3.589744
agricultural_land                                  7   3.589744
land_area                                          1   0.512821
armed_forces_size                                 24  12.307692
birth_rate                                         6   3.076923
calling_code                                       1   0.512821
capital/major_city                                 3   1.538462
co2-emissions                                      7   3.589744
cpi                                               20  10.256410
cpi_change                                        16   8.205128
currency-code                                     15   7.692308
fertility_rate                                     7   3.589744
forested_area                                      7   3.589744
gasoline_price                                    20  10.256410
gdp                                                2   1.025641
gross_primary_education_enrollment                 7   3.589744
gross_tertiary_education_enrollment               12   6.153846
infant_mortality                                   6   3.076923
largest_city                                       6   3.076923
life_expectancy                                    8   4.102564
maternal_mortality_ratio                          14   7.179487
minimum_wage                                      45  23.076923
official_language                                  5   2.564103
out_of_pocket_health_expenditure                   7   3.589744
physicians_per_thousand                            7   3.589744
population                                         1   0.512821
population_labor_force_participation              19   9.743590
tax_revenue                                       26  13.333333
total_tax_rate                                    12   6.153846
unemployment_rate                                 19   9.743590
urban_population                                   5   2.564103
longitude                                          1   0.512821
latitude                                           1   0.512821

In [119]:
#Partiendo del extracto anterior, identificamos las columnas categóricas y las columnas numéricas por separado
#Guardamos las columnas de cada tipo en sendas variables
categorical_columns=data.select_dtypes(include='O').columns
numerical_columns=data.select_dtypes(include=np.number).columns

#Filtramos el df_null para categóricas y para numéricas
df_null_categorical=df_null[df_null.index.isin(categorical_columns)]
df_null_numerical=df_null[df_null.index.isin(numerical_columns)]

2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

3. Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

In [120]:
#Hacemos primero las categóricas, visualizamos sus nulos y sus %
df_null_categorical

                    Cantidad_nulos   %_nulos
abbreviation                     7  3.589744
capital/major_city               3  1.538462
currency-code                   15  7.692308
largest_city                     6  3.076923
official_language                5  2.564103

In [121]:
#Reemplazamos los nulos menores al 5% con la moda
columns_unknown=['abbreviation', 'capital/major_city', 'largest_city', 'official_language']
for i in columns_unknown:
    mode=data[i].mode()
    data[i]=data[i].fillna(mode)

In [122]:
#Reemplazamos los nulos mayores al 5% con 'unknown'
data['currency-code']=data['currency-code'].fillna('unknown')

In [124]:
#Ahora hacemos las columnas numéricas, visualizamos sus nulos y sus %
df_null_numerical

                                      Cantidad_nulos    %_nulos
agricultural_land                                  7   3.589744
land_area                                          1   0.512821
armed_forces_size                                 24  12.307692
birth_rate                                         6   3.076923
calling_code                                       1   0.512821
co2-emissions                                      7   3.589744
cpi                                               20  10.256410
cpi_change                                        16   8.205128
fertility_rate                                     7   3.589744
forested_area                                      7   3.589744
gasoline_price                                    20  10.256410
gdp                                                2   1.025641
gross_primary_education_enrollment                 7   3.589744
gross_tertiary_education_enrollment               12   6.153846
infant_mortality                                   6   3.076923
life_expectancy                                    8   4.102564
maternal_mortality_ratio                          14   7.179487
minimum_wage                                      45  23.076923
out_of_pocket_health_expenditure                   7   3.589744
physicians_per_thousand                            7   3.589744
population                                         1   0.512821
population_labor_force_participation              19   9.743590
tax_revenue                                       26  13.333333
total_tax_rate                                    12   6.153846
unemployment_rate                                 19   9.743590
urban_population                                   5   2.564103
longitude                                          1   0.512821
latitude                                           1   0.512821

In [125]:
#Aqullas con hasta 5% de nulos, rellenamos con la media
columns_mean=['agricultural_land', 'land_area', 'birth_rate', 'calling_code','co2-emissions', 'fertility_rate', 'forested_area', 'gdp','gross_primary_education_enrollment', 'infant_mortality', 'life_expectancy', 'out_of_pocket_health_expenditure', 'physicians_per_thousand', 'population','urban_population', 'longitude','latitude']

#A las que tengan entre un 5% y un 20% les aplicamos un IterativeImputer para que estudie las relaciones del resto de datos y rellene con una estimación lo más precisa posible
columns_iter=['armed_forces_size','cpi','cpi_change','gasoline_price','gross_tertiary_education_enrollment','maternal_mortality_ratio','population_labor_force_participation','tax_revenue','total_tax_rate','unemployment_rate']

#A las que tengan más de un 20% les aplicamos un .fillna(99999) para no alterar la realidad de los datos.
columns_999=['minimum_wage']

In [126]:
#Reemplazamos nulos con las medias
for i in columns_mean:
    mean=data[i].mean()
    data[i]=data[i].fillna(mean)

In [127]:
#Reemplazamos nulos con IterativeImputer
imputer=IterativeImputer(max_iter=10, random_state=42)
data[columns_iter]=imputer.fit_transform(data[columns_iter])

In [128]:
#Reemplazamos nulos con .fillna(99999)
for i in columns_999:
    data[i]=data[i].fillna(99999)

In [129]:
# Comprobamos que hemos eliminado todos los valores nulos
data.isnull().sum().sum()

11

In [130]:
data.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,longitude,latitude,continent
0,Afghanistan,60.0,AF,58.1,652.23,323.000000,32.49,93.0,Kabul,8.67,149.900000,2.300000,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.70000,47.9,Kabul,64.500000,638.000000,0.43,Pashto,78.4,0.28,38041754.00,48.900000,9.300000,71.400000,11.120000,9797273.00,33.94,67.71,Asia
1,Albania,105.0,AL,43.1,28.75,9.000000,11.78,355.0,Tirana,4.54,119.050000,1.400000,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.00000,7.8,Tirana,78.500000,15.000000,1.12,Albanian,56.9,1.20,2854191.00,55.700000,18.600000,36.600000,12.330000,1747593.00,41.15,20.17,Europe
2,Algeria,18.0,DZ,17.4,2381741.00,317.000000,24.28,213.0,Algiers,150.01,151.360000,2.000000,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.40000,20.1,Algiers,76.700000,112.000000,0.95,Arabic,28.1,1.72,43053054.00,41.200000,37.200000,66.100000,11.700000,31510100.00,28.03,1.66,Africa
3,Andorra,164.0,AD,40.0,468.00,58627.071832,7.20,376.0,Andorra la Vella,469.00,156.392781,6.784456,EUR,1.27,34.0,1.51,3.154058e+09,106.4,37.65374,2.7,Andorra la Vella,72.279679,159.547949,6.63,Catalan,36.4,3.33,77.14,62.690182,16.276156,40.878573,6.906595,67.87,42.51,1.52,Europe
4,Angola,26.0,AO,47.5,1246700.00,117.000000,40.73,244.0,Luanda,34.69,261.730000,17.100000,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.30000,51.6,Luanda,60.800000,241.000000,0.71,Portuguese,33.4,0.21,31825295.00,77.500000,9.200000,49.100000,6.890000,21061025.00,-11.20,17.87,Africa

In [131]:
#Redondeamos todos los float a 2 decimales
data=data.round(2)

In [132]:
data.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,longitude,latitude,continent
0,Afghanistan,60.0,AF,58.1,652.23,323.00,32.49,93.0,Kabul,8.67,149.90,2.30,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.70,47.9,Kabul,64.50,638.00,0.43,Pashto,78.4,0.28,38041754.00,48.90,9.30,71.40,11.12,9797273.00,33.94,67.71,Asia
1,Albania,105.0,AL,43.1,28.75,9.00,11.78,355.0,Tirana,4.54,119.05,1.40,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.00,7.8,Tirana,78.50,15.00,1.12,Albanian,56.9,1.20,2854191.00,55.70,18.60,36.60,12.33,1747593.00,41.15,20.17,Europe
2,Algeria,18.0,DZ,17.4,2381741.00,317.00,24.28,213.0,Algiers,150.01,151.36,2.00,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.40,20.1,Algiers,76.70,112.00,0.95,Arabic,28.1,1.72,43053054.00,41.20,37.20,66.10,11.70,31510100.00,28.03,1.66,Africa
3,Andorra,164.0,AD,40.0,468.00,58627.07,7.20,376.0,Andorra la Vella,469.00,156.39,6.78,EUR,1.27,34.0,1.51,3.154058e+09,106.4,37.65,2.7,Andorra la Vella,72.28,159.55,6.63,Catalan,36.4,3.33,77.14,62.69,16.28,40.88,6.91,67.87,42.51,1.52,Europe
4,Angola,26.0,AO,47.5,1246700.00,117.00,40.73,244.0,Luanda,34.69,261.73,17.10,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.30,51.6,Luanda,60.80,241.00,0.71,Portuguese,33.4,0.21,31825295.00,77.50,9.20,49.10,6.89,21061025.00,-11.20,17.87,Africa

In [133]:
data.to_csv("post_leccion06_world.csv")

4. Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

1. Identificamos todas las columnas que tenían algún nulo, precisando cuántos y qué % representaban sobre el total de su columna.

2. Hicimos una división de esos nulos por columnas categóricas y columnas numéricas.
- Columnas categóricas
    - Imputamos la `moda` a aquellas columnas con un % de nulos menor al 5%.
    - Imputamos `'unknown'` a aquellas columnas con un % de nulos superior al 5%.
- Columnas numéricas
    - Imputamos la `media` a aquellas columnas con un % de nulos menor al 5%.
    - Imputamos un `IterativeImputer` a aquellas columnas con un % de nulos entre el 5% y el 20%, para reemplazar por una predición lo más precisa posible.
    - Imputamos un `.fillna(99999)` a aquellas columnas con un % de nulos superior al 20% para no alterar la realidad de los datos.