### Pair Unión y Limpieza de Datos
#### Ejercicios Unión de Datos
Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Asegúrate de realizar los siguientes pasos:

1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

2. Identifica las columnas comunes entre los dos conjuntos de datos.

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [59]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [60]:
#Ponemos index_col=0 para que no traiga la columna 'Unnamed'
df_world1 = pd.read_csv("world-data-2023_part1.csv", index_col=0)
df_world2 = pd.read_csv("world-data-2023_part2.csv", index_col=0)

In [61]:
df_world1.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

In [63]:
df_world2.head(2)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [65]:
#Unimos con un merge por la columna común 'country', y añadiendo las columnas del df_world2 a la derecha del df_world1, así tenemos un único df con todas las columnas
df_world=pd.merge(left=df_world1, right=df_world2, left_on='Country', right_on='country', how='inner')
df_world.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

#### Ejercicios de Limpieza
1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [66]:
#Eliminamos columna sobreeescribiendo el resultado
df_world.drop(['country'], axis=1, inplace=True)
df_world.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

❗Antes de nada, queremos eliminar los posibles espacios en blanco que pueda haber al final del nombre de cada columna. Para ello, hacemos un strip()

In [69]:
df_world.columns=df_world.columns.str.rstrip()

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

- No tengan espacios.

In [70]:
#Iteramos las columnas del df_merged y reemplazamos los ' ' por '_'
#for i in df_merged.columns:
#   i.replace(' ', '')

df_world.columns=[i.replace(' ','_') for i in df_world.columns]
df_world.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural_Land(_%),Land_Area(Km2),Armed_Forces_size,Birth_Rate,Calling_Code,Capital/Major_City,Co2-Emissions,CPI,CPI_Change_(%),Currency-Code,Fertility_Rate,Forested_Area_(%),Gasoline_Price,GDP,Gross_primary_education_enrollment_(%),Gross_tertiary_education_enrollment_(%),Infant_mortality,Largest_city,Life_expectancy,Maternal_mortality_ratio,Minimum_wage,Official_language,Out_of_pocket_health_expenditure,Physicians_per_thousand,Population,Population:_Labor_force_participation_(%),Tax_revenue_(%),Total_tax_rate,Unemployment_rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

- Estén en minúscula.

In [71]:
df_world.columns=[i.lower() for i in df_world.columns]
df_world.head(1)

,country,density\n(p/km2),abbreviation,agricultural_land(_%),land_area(km2),armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_(%),currency-code,fertility_rate,forested_area_(%),gasoline_price,gdp,gross_primary_education_enrollment_(%),gross_tertiary_education_enrollment_(%),infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population:_labor_force_participation_(%),tax_revenue_(%),total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

In [72]:
#Hacemos un un patrón regex que:
#Identifique los paréntesis exactos --> \( \)
#Identifique cualquier carácter salvo salto de línea --> .
#Que ese carácter anterior esté 0 o más veces --> *
#Limita el * a no codicioso, es decir, que coincida con la menor cantidad de caracteres posible (esto permite coincidencias más precisas y evita abarcar más de lo necesario)
df_world.columns=df_world.columns.str.replace(r'\(.*?\)', '', regex=True).str.strip()
df_world.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population:_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

In [73]:
df_world.columns=[i.replace('\n', '') for i in df_world.columns]
df_world.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population:_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [74]:
df_world.columns=[i.replace(':', '') for i in df_world.columns]
df_world.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

❗Ahora vemos que las columnas en las que quitamos los () terminan en _ (porque antes era un espacio en blanco y lo sustituimos por _). Vamos a quitar esos _ finales.

In [75]:
df_world.columns=df_world.columns.str.rstrip('_')
df_world.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de `coordinates`.

In [77]:
#Creamos las nuevas columnas y separamos la columna coordinates por ','. Con expand=True le dedimos que el resultado del split lo expanda en las nuevas columnas.
df_world[['longitude', 'latitude']]=df_world['coordinates'].str.split(',', expand=True)
df_world.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,coordinates,longitude,latitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')

In [80]:
#Limpiamos el resultado para que únicamente queden los valores, sin () ni '
df_world['longitude']=df_world['longitude'].str.replace('(', '').str.replace("'", "")
df_world['latitude']=df_world['latitude'].str.replace(')', '').str.replace("'", "")
df_world.head(1)

/tmp/ipykernel_799/2473936632.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_world['longitude']=df_world['longitude'].str.replace('(', '').str.replace("'", "")
/tmp/ipykernel_799/2473936632.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_world['latitude']=df_world['latitude'].str.replace(')', '').str.replace("'", "")

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,coordinates,longitude,latitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",33.93911,67.709953

In [81]:
#Eliminamos columna coordinates
df_world.drop('coordinates', axis=1, inplace=True)
df_world.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,longitude,latitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.93911,67.709953

4. Las columnas `unemployment_rate`, `total_tax_rate`, `tax_revenue`, `population_labor_force_participation`, `out_of_pocket_health_expenditure`, `gross_tertiary_education_enrollment`, `gross_primary_education_enrollment`, `forested_area`, `cpi_change`, `agricultural_land` tienen "%". Elimina los "%" de los valores de las columnas.

In [83]:
columns_percentage=['unemployment_rate', 'total_tax_rate', 'tax_revenue', 'population_labor_force_participation', 'out_of_pocket_health_expenditure', 'gross_tertiary_education_enrollment', 'gross_primary_education_enrollment', 'forested_area', 'cpi_change', 'agricultural_land']
for i in columns_percentage:
    df_world[i]=df_world[i].str.replace('%', '')

df_world.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,longitude,latitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953

5. Haz lo mismo para las columnas de `gasoline_price`, `gdp`, `minimum_wage`, pero eliminando "$".

In [84]:
columns_money=['gasoline_price', 'gdp', 'minimum_wage']
for i in columns_money:
    df_world[i]=df_world[i].str.replace('$', '')

df_world.head(1)

/tmp/ipykernel_799/156069916.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_world[i]=df_world[i].str.replace('$', '')

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,longitude,latitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953

6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [85]:
df_world.to_csv('post_leccion04_world.csv')

#### Ejercicios de Filtrado
1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [87]:
#filter=df_world['infant_mortality'].between(40, 50)
df_world[df_world['infant_mortality'].between(40, 50)]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,longitude,latitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
26,Burkina Faso,76,BF,44.20,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20,XOF,5.19,19.30,0.98,"15,745,810,235",96.10,6.50,49.0,Ouagadougou,61.2,320.0,0.34,French,36.10,0.08,"20,321,378",66.40,15.00,41.30,6.26,"6,092,349",12.238333,-1.561593
27,Burundi,463,BI,79.20,"27,830","31,000",39.01,257.0,Bujumbura,495,182.11,-0.70,BIF,5.41,10.90,1.21,"3,012,334,882",121.40,6.10,41.0,Bujumbura,61.2,548.0,NaN,Kirundi,19.10,0.10,"11,530,580",79.20,13.60,41.20,1.43,"1,541,177",-3.373056,29.918886
47,Djibouti,43,DJ,73.40,"23,200","13,000",21.47,253.0,Djibouti City,620,120.25,3.30,DJF,2.73,0.20,1.32,"3,318,716,359",75.30,5.30,49.8,Djibouti City,66.6,248.0,NaN,French,20.40,0.22,"973,560",60.20,NaN,37.90,10.30,"758,549",11.825138,42.590275
72,Haiti,414,HT,66.80,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",179.29,12.50,HTG,2.94,3.50,0.81,"8,498,981,821",113.60,1.10,49.5,Port-au-Prince,63.7,480.0,0.25,French,36.30,0.23,"11,263,077",67.20,NaN,42.70,13.78,"6,328,948",18.971187,-72.285215
89,Kiribati,147,KI,42.00,811,NaN,27.89,686.0,South Tarawa,66,99.55,0.60,AUD,3.57,15.00,NaN,"194,647,202",101.30,NaN,41.2,South Tarawa,68.1,92.0,NaN,English,0.20,0.20,"117,606",NaN,22.00,32.70,NaN,"64,489",1.8368976,-157.3768317
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50,XOF,6.91,0.90,0.88,"12,928,145,120",74.70,4.40,48.0,Niamey,62.0,509.0,0.29,French,52.30,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231",17.607789,8.081666
166,Sudan,25,SD,28.70,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.00,SDG,4.41,8.10,0.95,"18,902,284,476",76.80,16.90,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.20,0.26,"42,813,238",48.40,8.00,45.40,16.53,"14,957,233",12.862807,30.217636
175,Togo,152,TG,70.20,"56,785","10,000",33.11,228.0,Lom�,"3,000",113.3,0.70,XOF,4.32,3.10,0.71,"5,459,979,417",123.80,14.50,47.4,Lom�,60.8,396.0,0.34,French,51.00,0.08,"8,082,366",77.60,16.90,48.20,2.04,"3,414,638",8.619543,0.824782
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",-13.133897,27.849332

2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [88]:
#filter1=df_world['birth_rate']>=20
#filter2=df_world['life_expectancy']>75
df_world[(df_world['birth_rate']>=20) & (df_world['life_expectancy']>75)]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,longitude,latitude
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
74,Honduras,89,HN,28.90,"112,090","23,000",21.60,504.0,Tegucigalpa,"9,813",150.34,4.40,HNL,2.46,40.00,0.98,"25,095,395,475",91.50,26.20,15.1,Tegucigalpa,75.1,65.0,1.01,Spanish,49.10,0.31,"9,746,117",68.80,17.30,39.10,5.39,"5,626,433",15.199999,-86.241905
82,Israel,400,IL,24.60,"20,770","178,000",20.80,972.0,Jerusalem,"65,166",108.15,0.80,ILS,3.09,7.70,1.57,"395,098,666,122",104.90,63.40,3.0,Jerusalem,82.8,3.0,7.58,Hebrew,24.40,4.62,"9,053,300",64.00,23.10,25.30,3.86,"8,374,393",31.046051,34.851612

3. Encuentra las ciudades cuyos países contienen la palabra "la" en su nombre.

In [96]:
#filter=df_world['country'].str.contains('la')
df_world[df_world['country'].str.contains('la')]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,longitude,latitude
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887
13,Bangladesh,"1,265",BD,70.60,"148,460","221,000",18.18,880.0,Dhaka,"84,246",179.68,5.60,BDT,2.04,11.00,1.12,"302,571,254,131",116.50,20.60,25.1,Dhaka,72.3,173.0,0.51,Bengali,71.80,0.58,"167,310,838",59.00,8.80,33.40,4.19,"60,987,417",23.684994,90.356331
15,Belarus,47,BY,42.00,"207,600","155,000",9.90,375.0,Minsk,"58,280",NaN,5.60,BYN,1.45,42.60,0.60,"63,080,457,023",100.50,87.40,2.6,Minsk,74.2,2.0,1.49,Russian,34.50,5.19,"9,466,856",64.10,14.70,53.30,4.59,"7,482,982",53.709807,27.953389
59,Finland,18,FI,7.50,"338,145","25,000",8.60,358.0,Helsinki,"45,871",112.33,1.00,EUR,1.41,73.10,1.45,"268,761,201,365",100.20,88.20,1.4,Helsinki,81.7,3.0,NaN,Swedish,19.90,3.81,"5,520,314",59.10,20.80,36.60,6.59,"4,716,888",61.92411,25.748151
68,Guatemala,167,GT,36.00,"108,889","43,000",24.56,502.0,Guatemala City,"16,777",142.92,3.70,GTQ,2.87,32.70,0.79,"76,710,385,880",101.90,21.80,22.1,Guatemala City,74.1,95.0,1.60,Spanish,55.80,0.35,"16,604,026",62.30,10.60,35.20,2.46,"8,540,945",15.783471,-90.230759
76,Iceland,3,IS,18.70,"103,000",0,12.00,354.0,Reykjav��,"2,065",129,3.00,ISK,1.71,0.50,1.69,"24,188,035,739",100.40,71.80,1.5,Reykjav��,82.7,4.0,NaN,Icelandic,17.00,4.08,"361,313",75.00,23.30,31.90,2.84,"339,110",64.963051,-19.020835
81,Republic of Ireland,72,NaN,64.50,"70,273","9,000",12.50,353.0,Dublin,"37,711",106.58,0.90,EUR,1.75,11.00,1.37,"388,698,711,348",100.90,77.80,3.1,Connacht,82.3,5.0,10.79,Irish,15.20,3.31,"5,007,069",62.10,18.30,26.10,4.93,"3,133,123",53.41291,-8.24389
102,Malawi,203,MW,61.40,"118,484","15,000",34.12,265.0,Lilongwe,"1,298",418.34,9.40,MWK,4.21,33.20,1.15,"7,666,704,427",142.50,0.80,35.3,Lilongwe,63.8,349.0,0.12,English,11.00,0.04,"18,628,747",76.70,17.30,34.50,5.65,"3,199,301",-13.254308,34.301525
103,Malaysia,99,MY,26.30,"329,847","136,000",16.75,60.0,Kuala Lumpur,"248,289",121.46,0.70,MYR,2.00,67.60,0.45,"364,701,517,788",105.30,45.10,6.7,Johor Bahru,76.0,29.0,0.93,Malaysian language,36.70,1.51,"32,447,385",64.30,12.00,38.70,3.32,"24,475,766",4.210484,101.975766
107,Marshall Islands,329,MH,63.90,181,NaN,29.03,692.0,Majuro,143,NaN,NaN,USD,4.05,70.20,1.44,"221,278,000",84.70,23.70,27.4,Majuro,65.2,NaN,2.00,Marshallese,10.00,0.42,"58,791",NaN,17.80,65.90,NaN,"45,514",7.131474,171.184478
122,Netherlands,508,NL,53.30,"41,543","41,000",9.70,31.0,Amsterdam,"170,780",115.91,2.60,NaN,1.59,11.20,1.68,"909,070,395,161",104.20,85.00,3.3,Amsterdam,81.8,5.0,10.29,Dutch,12.30,3.61,"17,332,850",63.60,23.00,41.20,3.20,"15,924,729",52.132633,5.291266
123,New Zealand,18,NZ,40.50,"268,838","9,000",11.98,64.0,Wellington,"34,382",114.24,1.60,NZD,1.71,38.60,1.40,"206,928,765,544",100.00,82.00,4.7,Auckland,81.9,9.0,11.49,English,12.60,3.59,"4,841,000",69.90,29.00,34.60,4.07,"4,258,860",-40.900557,174.885971
132,Palau,39,PW,10.90,459,NaN,14.00,680.0,Ngerulmud,224,118.17,1.30,USD,2.21,87.60,NaN,"283,994,900",112.60,54.70,16.6,Koror,69.1,NaN,3.00,English,21.80,1.18,"18,233",NaN,21.30,76.60,NaN,"14,491",7.51498,134.58252
139,Poland,124,PL,46.90,"312,685","191,000",10.20,48.0,Warsaw,"299,037",114.11,2.20,PLN,1.46,30.90,1.07,"592,164,400,688",100.00,67.80,3.8,Warsaw,77.6,2.0,2.93,Polish,23.20,2.38,"37,970,874",56.70,17.40,40.80,3.47,"22,796,574",51.919438,19.145136
159,Solomon Islands,25,SB,3.90,"28,896",NaN,32.44,677.0,Honiara,169,133.06,1.60,SBD,4.40,77.90,NaN,"1,425,074,226",106.20,NaN,17.1,Honiara,72.8,104.0,0.40,English,3.30,0.19,"669,823",83.80,29.50,32.00,0.58,"162,164",-9.64571,160.156194
169,Switzerland,219,CH,38.40,"41,277","21,000",10.00,41.0,Bern,"34,477",99.55,0.40,CHF,1.52,31.80,1.45,"703,082,435,360",105.20,59.60,3.7,Z���,83.6,5.0,NaN,German,28.30,4.30,"8,574,832",68.30,10.10,28.80,4.58,"6,332,428",46.818188,8.227512
173,Thailand,137,TH,43.30,"513,120","455,000",10.34,66.0,Bangkok,"283,763",113.27,0.70,THB,1.53,32.20,0.71,"543,649,976,166",99.80,49.30,7.8,Bangkok,76.9,37.0,1.06,Thai,11.80,0.81,"69,625,582",67.30,14.90,29.50,0.75,"35,294,600",15.870032,100.992541
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,0.00,"482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",6.42375,-66.58973

In [101]:
#Si queremos ver sólo las columnas country y city
#1. Hacemos le filtro (country contains 'la') y seleccionamos las columnas que queremos ver
filter_la=df_world.loc[df_world['country'].str.contains('la'), ['country', 'capital/major_city']]
filter_la

                 country capital/major_city
4                 Angola             Luanda
13            Bangladesh              Dhaka
15               Belarus              Minsk
59               Finland           Helsinki
68             Guatemala     Guatemala City
76               Iceland          Reykjav��
81   Republic of Ireland             Dublin
102               Malawi           Lilongwe
103             Malaysia       Kuala Lumpur
107     Marshall Islands             Majuro
122          Netherlands          Amsterdam
123          New Zealand         Wellington
132                Palau          Ngerulmud
139               Poland             Warsaw
159      Solomon Islands            Honiara
169          Switzerland               Bern
173             Thailand            Bangkok
190            Venezuela            Caracas

4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [108]:
#Queremos ver sólo las columnas country y physicians_per_thousand
#filter=df_world['physicians_per_thousand']>5
filter_physicians=df_world.loc[df_world['physicians_per_thousand']>5, ['country', 'physicians_per_thousand']]
filter_physicians

        country  physicians_per_thousand
9       Austria                     5.17
15      Belarus                     5.19
42         Cuba                     8.42
63      Georgia                     7.12
66       Greece                     5.48
99    Lithuania                     6.35
113      Monaco                     6.56
140    Portugal                     5.12
149  San Marino                     6.11
187     Uruguay                     5.05

5. Encuentra los países cuya tasa de fertilidad sea mayor a 6.

In [109]:
#Queremos ver sólo las columnas country y fertility_rate
filter_fertility=df_world.loc[df_world['fertility_rate']>6, ['country', 'fertility_rate']]
filter_fertility

     country  fertility_rate
125    Niger            6.91
160  Somalia            6.07

6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [114]:
#Queremos ver sólo las columnas country, currency-code, birth_rate
#1. Calculamos la media de la natalidad
mean_natality=df_world['birth_rate'].mean()

#2. Creamos filtros
filter_currency=df_world['currency-code'] =='EUR'
filter_natality=df_world['birth_rate'] > mean_natality

#3. Seleccionamos las columnas que necesitamos en base a los filtros
filter_currency_natality=df_world.loc[(filter_currency & filter_natality), ['country', 'birth_rate', 'currency-code']]
filter_currency_natality

Empty DataFrame
Columns: [country, birth_rate, currency-code]
Index: []

7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [115]:
#Queremos ver sólo las columnas country e infant_mortality
filter_mortality=df_world.loc[df_world['infant_mortality']>70, ['country', 'infant_mortality']]
filter_mortality

                      country  infant_mortality
33   Central African Republic              84.5
34                       Chad              71.4
126                   Nigeria              75.7
155              Sierra Leone              78.5
160                   Somalia              76.6